video{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    float: left;
    zIndex: -1;
    padding: 0;
    margin: 0;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: transparent;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}
form h1{
    margin: 0;
    padding: 0 0 20px;
    color: #ffffff;
    text-align: center;
}
form input{
    width: 100%;
    margin-bottom: 20px;
}
form input[type="text"], form input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}
form input[type="submit"]{

    height: 40px;
    background: #ffffff;
    color: #ffffff;
    font-size: 18px;

}
button{
    background: transparent;
    border: 1px solid #ffffff;
    outline: none;
    color: #ffffff;

    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


::placeholder{
    color: #ffffff;
}